<IfModule mod_headers.c>
  Header set Access-Control-Allow-Origin "*"
  Header unset ETag
  Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
  Header set Pragma "no-cache"
  Header set Expires "Fri, 11 Jan 1985 01:00:00 GMT"
</IfModule>
